html{
  max-height: 80px;
}

body{
  background-color: #333;
  color:white;
  
  width: 300px;
}

section#credits{
  display: flex;
  flex-direction: column;
  
  width: 100vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a{
  color: #95a5ff;
}