body{
  background-color: #333;
  color:white;

  width: 300px;
  height: 100px;
}

section#credits{
  display: flex;
  
  width: 100vw;
  align-items: center;
  justify-content: center;
}

a{
  color: #95a5ff;
}